html {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;

  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

header {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100px;
  background-color: #9B9B7A;
  text-align: center;
}

nav {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 30px;
  background-color: #9B9B7A;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navegador {
  width: 180px;
  margin-left: 10px;
  margin-right: 10px;
}

h3 {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 16px;
  font-family: 'Montserrat';
}

.divCentrat {
  text-align: center;
  justify-content: center;
  width: 400px;
  height: 300px;
  margin-top: 25%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #D9AE94;
  color: white;
  border-radius: 30%;
}

.columna {
  display: flex;
  flex-direction: column;
}

.fila {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.imatgeCorporativa {
  border-radius: 30%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  background-color: grey;
  width: 45%;
  height: 150px;
}

.botonsInici {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  width: 45%;
  display: flex;
  flex-direction: column;
}

.llibreta {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 600px;
  display: flex;
}

.fulla1 {
  width: 46%;
  height: 100%;
  background-color: #F1DCA7;
  text-align: center;
}

.fulla2 {
  margin-left: 5px;
  margin-top: -10px;
  width: 46%;
  height: 100%;
  background-color: #997b667c;
}

.fulla3 {
  margin-top: 10px;
  margin-left: -10px;
  width: 98%;
  background-color: #F1DCA7;
  height: 100%;
  text-align: center;
}

.separador {
  margin-top: 8px;
  width: 8%;
  height: 98%;
  background-color: #B19A8B;
}

footer {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0%;
  width: 100%;
  height: 100px;
  background-color: #9B9B7A;
}

.cos {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 630px;
  background-color: #F1DCA7;
  display: flex;
}

.cos2 {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 630px;
  background-color: #F1DCA7;
  display: flex;
  flex-direction: column;
}

.cos3 {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 630px;
  background-color: #F1DCA7;
  display: flex;
  flex-direction: row;
}

.cos4 {
  margin-top: 10px;
  width: 70%;
  height: 630px;
  background-color: #F1DCA7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cos5 {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 630px;
  display: flex;
  flex-direction: row;
}

.missatgeria {
  padding-top: 10px;
  max-width: 70%;
  height: 100%;
}

.missatge {
  margin: 20px;
  width: 800px;
  background-color: white;
  height: 80px;
  border-radius: 20px;
  text-align: center;
}

.infoPersona {
  justify-content: right;
  margin-top: 25px;
  /* margin-left: 150px; */
  width: 300px;
  height: 90%;
  background-color: #C1B086;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.infoPersona2 {
  margin-top: 10px;
  margin-left: 90px;
  width: 300px;
  height: 100%;
  background-color: #C1B086;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.infopersona {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.infoAliment {
  width: 20%;
  height: 20%;
  border: 1px solid #000;
  text-align: center;
}

.persona {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.fotoPerfil {
  margin-left: 170px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: white;
}

.contacte {
  margin-left: auto;
  margin-right: auto;
  margin-top: 190px;
  width: 280px;
  height: 180px;
  border-radius: 10px;
  background-color: white;
}

.chatBot {
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  height: 15px;
  background-color: grey;
}

label, input, select {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 90px;
}

label {
  width: 150px;
}

.botoMenu {
  background-color: #E4B074;
  width: 400px;
  height: 80px;
  margin-top: 37px;
  margin-left: 100px;
  text-align: center;
}

.botoMenu2 {
  background-color: #E4B074;
  width: 400px;
  height: 80px;
  margin-top: 37px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.botoMenu3 {
  background-color: #E4B074;
  width: 300px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  text-align: center;
}

.grafica {
  max-width: 500px;
  max-height: 500px;
  background-color: white;
}

.grafica2 {
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  max-height: 300px;
  background-color: white;
}

.migCos {
  width: 45%;
  height: 100%;
  flex-direction: column;
}

.migCos2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.migCos3 {
  margin-top: 10px;
  min-width: 25%;
  max-width: 30%;
  height: 630px;
  background-color: #F1DCA7;
  margin-left: auto;
}

.migCos4 {
  margin-top: 10px;
  width: 70%;
  height: 630px;
  background-color: #F1DCA7;
  display: flex;
  flex-direction: row;
}

.migCos5 {
  width: 50%;
  height: 100%;
  flex-direction: column;
}

.migCos6 {
  margin-top: 36px;
  width: 45%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  background-color: #E4B074;
}

.colmenu {
  margin-left: auto;
  margin-right: auto;
  background-color: #E4B074;
  width: 80%;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.botoSubMenu {
  margin-top: 25px;
  margin-left: 80px;
  background-color: #F1DCA7;
  width: 150px;
  height: 60px;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: row;
}

.entrades {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.contenidor {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 630px;
  display: flex;
}

.botoUsuaris {
  display: flex;
  flex-wrap: wrap;
}

.botoMenuUsuari {
  background-color: #E4B074;
  width: 400px;
  height: 200px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.graella {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
}

.apat {
  text-align: center;
  width: 20%;
  background-color: white;
  border: 1px solid #000;
}

.infoApat {
  width: 80%;
  background-color: white;
  border: 1px solid #000;
  text-align: center;
}

.imatgePortada {
  margin-top: 100px;
  width: 500px;
  height: 400px;
}

.titolRecepta {
  text-align: center;
}

.infoRecepta {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.descrpicioRecepta {}

.imatgePortadaAllargada {
  margin-top: 50px;
  width: 350px;
  height: 500px;
}