<body>
    {% include 'header.html' %}
        <div class="container my-5">
            <h1 class="mb-4">{{ _('Contacta\'ns') }}</h1>

            <div class="row mb-4">
                <div class="col-md-6">
                    <h3>{{ _('Canals de contacte') }}</h3>
                    <ul class="list-unstyled">
                        <li><strong>{{ _('Telèfon fix:') }}</strong> <a href="tel:+34977831709">(+34) 977 83 17 09</a></li>
                        <li><strong>{{ _('Telèfon mòbil:') }}</strong> <a href="tel:+34629014905">(+34) 629 01 49 05</a></li>
                        <li><strong>{{ _('Email:') }}</strong> <a href="mailto:falset@immoblespriorat.com">falset@immoblespriorat.com</a></li>
                    </ul>

                    <h3>{{ _('Horari d\'oficina') }}</h3>
                    <p>
                        {{ _('Dilluns a Divendres: 9:30 - 13:30 i 16:30 - 19:30') }}<br />
                        {{ _('Dissabte: Tancat') }}<br />
                        {{ _('Diumenge: Tancat') }}
                    </p>
                    {% include 'formulari_contacte.html' %}
                </div>

                <div class="col-md-6">
                    <h3>{{ _('Localització') }}</h3>
                    <div class="ratio ratio-16x9">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2999.1438391427926!2d0.8208506761705106!3d41.14693857133748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a0e60a24477adf%3A0x81b183ac9fd8b2ce!2sCarrer%20de%20Miquel%20Barcel%C3%B3%2C%2038%2C%2043730%20Falset%2C%20Tarragona!5e0!3m2!1sca!2ses!4v1716133542131!5m2!1sca!2ses"
                            width="100%" height="300" style="border:0;" allowfullscreen=""
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    {% include 'footer.html' %}
</body>
</html>
