<header>
    <h1>Projecte Vida</h1>
</header>
<nav>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Forum">Fòrum</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Perfil">Perfil</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Dietes">Dietes</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Receptari">Receptari</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="BodyLab">BodyLab</a></h3>
    </button>
</nav>
<div class="cos2">
    <div class="menu">
        <div class="colmenu">
            <div class="botoSubMenu">Aeròbics</div>
            <div class="botoSubMenu">Anaeròbics</div>
            <div class="botoSubMenu">Peses</div>
        </div>
        <div class="colmenu">
            <div class="botoSubMenu">Impacte</div>
            <div class="botoSubMenu">Aquatics</div>
            <div class="botoSubMenu">En equip</div>
        </div>
        <div class="colmenu">
            <div class="botoSubMenu">Pès lliure</div>
            <div class="botoSubMenu">Cosddfit</div>
            <div class="botoSubMenu">Esports de contacte</div>
        </div>
        <div class="colmenu">
            <div class="botoSubMenu">Sense gluten</div>
            <div class="botoSubMenu">Sense lactosa</div>
            <div class="botoSubMenu">A saber que més posar</div>
        </div>
    </div>
    <div class="entrades">
        <div class="missatge"></div>
        <div class="missatge"></div>
    </div>
</div>
<footer>
    <button><a asp-area="" asp-controller="Home" asp-action="Sign_In">Sign-In</a></button>
</footer>