<header>
    <h1>Projecte Vida</h1>
</header>
<nav>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Forum">Fòrum</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Perfil">Perfil</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Dietes">Dietes</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Receptari">Receptari</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="BodyLab">BodyLab</a></h3>
    </button>
</nav>
<div class="cos3">
    <div class="migCos">
        <div class="botoMenu">
            <h1>Setmana 1</h1>
        </div>
        <div class="botoMenu">
            <h1>Setmana 2</h1>
        </div>
        <div class="botoMenu">
            <h1>Setmana 3</h1>
        </div>
        <div class="botoMenu">
            <h1>Setmana 4</h1>
        </div>
        <div class="botoMenu">
            <h1>Setmana 5</h1>
        </div>
    </div>
    <div class="migCos2">
        <div class="grafica">
            <svg version="!1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                width="500" height="500">
                <rect x="50" y="50" width="1" height="400" fill="black" />
                <rect x="50" y="450" width="400" height="1" fill="black" />
                <rect x="90" y="100" width="100" height="1" fill="black" stroke="black" stroke-width="1"
                    transform="rotate(45, 85, 50)"></rect>
                <rect x="125" y="160" width="10" height="1" fill="black" stroke="black" stroke-width="1"
                    transform="rotate(0, 85, 50)"></rect>
                <rect x="123" y="-35" width="50" height="1" fill="black" stroke="black" stroke-width="1"
                    transform="rotate(110, 85, 50)"></rect>
                <rect x="177" y="47" width="30" height="1" fill="black" stroke="black" stroke-width="1"
                    transform="rotate(45, 85, 50)"></rect>

        </div>
    </div>
</div>
<footer>
    <button><a asp-area="" asp-controller="Home" asp-action="Sign_In">Sign-In</a></button>
    <button><a asp-area="" asp-controller="Home" asp-action="SeleccioUsuari">Pagina reservada a
            professionals</a></button>
</footer>