<header>
    <h1>Projecte Vida</h1>
</header>
<nav>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Forum">Fòrum</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Perfil">Perfil</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Dietes">Dietes</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Receptari">Receptari</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="BodyLab">BodyLab</a></h3>
    </button>
</nav>

<div class="cos3">
    <div>
        <img src="~/Imatges/biceps_mancuernas.jpeg" alt="Moviment de mancuernas" class="imatgePortadaAllargada">
    </div>
    <div class="infoRecepta">
        <div>
            <h1 class="titolRecepta">Biceps amb mancuernas</h1>
        </div>
        <div>
            <h2>Procediment</h2>
            <ol>
                <li>10 repeticións</li>
                <li>30s de descans</li>
                <li>10 repeticións</li>
                <li>30s de descans</li>
                <li>10 repeticións</li>
            </ol>
        </div>
        <div class="descrpicioRecepta">
            <h2>Com procedir</h2>
            <p>Posició Inicial:

                Agafa una mancuerna amb cada mà, amb les palmes cap endavant i els braços estesos cap avall al costat
                del cos.
                Mantén els peus separats a l'altura dels malucs.
                Flexió del Muscle:

                Flexiona els colzes i aixeca les mancueres cap a les espatlles mentre mantens els colzes a prop del cos.
                Contracta els bíceps a la part superior del moviment per aconseguir una contracció màxima.
                Control del Moviment:

                Mantén un control total sobre el moviment, evitant balancejar el cos o utilitzar altres músculs per
                ajudar en el moviment.
                Descens Controlat:

                Descendeix les mancueres de manera controlada, allargant completament els braços per estirar totalment
                els bíceps.
                Nombre de Repeticions i Sèries:

                Realitza el nombre desitjat de repeticions i sèries segons el teu nivell de condició física i objectius
                d'entrenament.
                Manteniment de la Postura:

                Mantén una postura corporal adequada durant tot l'exercici, evitant inclinacions cap enrere o cap
                endavant.
                Respiració Adequada:

                Respira de manera natural i expira en l'etapa de major esforç durant l'ascensió de les mancueres.</p>
        </div>
    </div>
</div>

<footer>
    <button><a asp-area="" asp-controller="Home" asp-action="Sign_In">Sign-In</a></button>
</footer>