<header>
    <h1>Projecte Vida</h1>
</header>
<nav>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Forum">Fòrum</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Perfil">Perfil</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Dietes">Dietes</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Receptari">Receptari</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="BodyLab">BodyLab</a></h3>
    </button>
</nav>

<div class="cos">
    <div class="missatgeria">
        <div class="missatge"></div>
        <div class="missatge"></div>
        <div class="missatge"></div>
        <div class="missatge"></div>
        <div class="missatge"></div>
        <div class="missatge"></div>
    </div>
    <div class="infoPersona">
        <div class="persona">
            <div class="infopersona">
                <p>Andreu</p>
                <p>Beltran</p>
                <p>82Kg</p>
                <p>182cm</p>
            </div>
            <div class="fotoPerfil"></div>
        </div>

        <div class="contacte">
            <div class="chatBot"></div>
        </div>
    </div>
</div>

<footer>
    <button><a asp-area="" asp-controller="Home" asp-action="Forum">Seguir</a></button>
</footer>