@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="divCentrat">
    <div class="columna">
        <h1 class="display-4">ProjecteVida</h1>
        <div class="fila">
            <div class="imatgeCorporativa">Aqui va una imatge</div>
            <div class="botonsInici">
                <button><a asp-area="" asp-controller="Home" asp-action="PresentacioProjecte">Sign-In</a></button>
                <button><a asp-area="" asp-controller="Home" asp-action="Login">Log-In</a></button>
                <button><a asp-area="" asp-controller="Home" asp-action="PresentacioProjecte">Explorar</a></button>
            </div>
        </div>
    </div>
</div>