@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="divCentrat">
    <div class="columna">
        <h1 class="display-4">ProjecteVida</h1>
        <div class="fila">
            <div class="imatgeCorporativa">Aqui va una imatge</div>
            <div class="botonsInici">
                <label for="usuari">Usuari:</label>
                <input type="text" id="usuari" name="usuari" required>

                <label for="contrassenya">Contrassenya:</label>
                <input type="text" id="contrassenya" name="contrassenya" required>
                <button><a asp-area="" asp-controller="Home" asp-action="Forum">Explorar</a></button>
            </div>
        </div>
    </div>
</div>