<header>
    <h1>Projecte Vida</h1>
</header>
<nav>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Forum">Fòrum</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Perfil">Perfil</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Dietes">Dietes</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Receptari">Receptari</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="BodyLab">BodyLab</a></h3>
    </button>
</nav>
<div class="cos5">
    <div class="migCos4">
        <div class="migCos5">
            <div class="botoMenu2">
                <h1>Setmana 1</h1>
            </div>
            <div class="botoMenu2">
                <h1>Setmana 2</h1>
            </div>
            <div class="botoMenu2">
                <h1>Setmana 3</h1>
            </div>
            <div class="botoMenu2">
                <h1>Setmana 4</h1>
            </div>
            <div class="botoMenu2">
                <h1>Setmana 5</h1>
            </div>
        </div>
        <div class="migCos6">
            <div class="infoAliment">Aliment</div>
            <div class="infoAliment">Hidrats</div>
            <div class="infoAliment">Proteines</div>
            <div class="infoAliment">Lípids</div>
            <div class="infoAliment">Micros</div>
            <div class="infoAliment"></div>
            <div class="infoAliment"></div>
            <div class="infoAliment"></div>
            <div class="infoAliment"></div>
            <div class="infoAliment"></div>
            <div class="infoAliment"></div>
            <div class="infoAliment"></div>
            <div class="infoAliment"></div>
            <div class="infoAliment"></div>
            <div class="infoAliment"></div>
            <div class="infoAliment"></div>
            <div class="infoAliment"></div>
            <div class="infoAliment"></div>
            <div class="infoAliment"></div>
            <div class="infoAliment"></div>
            <div class="infoAliment"></div>
            <div class="infoAliment"></div>
            <div class="infoAliment"></div>
            <div class="infoAliment"></div>
            <div class="infoAliment"></div>
        </div>
    </div>
    <div class="infoPersona2">
        <div class="persona">
            <div class="infopersona">
                <p>Andreu</p>
                <p>Beltran</p>
                <p>82Kg</p>
                <p>182cm</p>
            </div>
            <div class="fotoPerfil"></div>
        </div>
    </div>
</div>
<footer>
    <button><a asp-area="" asp-controller="Home" asp-action="Forum">Seguir</a></button>
</footer>