<header>
    <h1>Projecte Vida</h1>
</header>
<nav>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Forum">Fòrum</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Perfil">Perfil</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Dietes">Dietes</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Receptari">Receptari</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="BodyLab">BodyLab</a></h3>
    </button>
</nav>
<div class="contenidor">
    <div class="cos4">
        <div class="graella">
            <div class="apat">
                <h2>1r àpat</h2>
            </div>
            <div class="infoApat"></div>
            <div class="apat">
                <h2>2n àpat</h2>
            </div>
            <div class="infoApat"></div>
            <div class="apat">
                <h2>3r àpat</h2>
            </div>
            <div class="infoApat"></div>
            <div class="apat">
                <h2>4rt àpat</h2>
            </div>
            <div class="infoApat"></div>
            <div class="apat">
                <h2>5e àpat</h2>
            </div>
            <div class="infoApat"></div>
        </div>
    </div>
    <div class="migCos3">
        <div class="botoMenu3">
            <h1>Dilluns</h1>
        </div>
        <div class="botoMenu3">
            <h1>Dimarts</h1>
        </div>
        <div class="botoMenu3">
            <h1>Dimecres</h1>
        </div>
        <div class="botoMenu3">
            <h1>Dijous</h1>
        </div>
        <div class="botoMenu3">
            <h1>Divendres</h1>
        </div>
        <div class="botoMenu3">
            <h1>Dissabte</h1>
        </div>
        <div class="botoMenu3">
            <h1>Diumenge</h1>
        </div>
    </div>
</div>
<footer>
    <button><a asp-area="" asp-controller="Home" asp-action="Sign_In">Sign-In</a></button>
</footer>