<header>
    <h1>Projecte Vida</h1>
</header>
<nav>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Forum">Fòrum</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Perfil">Perfil</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Dietes">Dietes</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Receptari">Receptari</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="BodyLab">BodyLab</a></h3>
    </button>
</nav>
<div class="llibreta">
    <div class="fulla1">
        <p>Benvingut/da a [Nom del Teu Projecte] - El Teu Compañer Nutricional Integral
            En [Nom del Teu Projecte], creiem que adoptar un estil de vida saludable no només ha de ser una meta, sinó
            també una experiència enriquidora i personalitzada. Estem encantats d'ofrir-te una plataforma única on la
            salut i el benestar es fusionen a través de la nutrició equilibrada, receptes delicioses i programes
            d'entrenament adaptats a les teves necessitats.
            Dietes Personalitzades Amb Orientació Expert
        </p>
    </div>
    <div class="separador"></div>
    <div class="fulla2">
        <div class="fulla3">
            <p>No estàs sol/a en aquest viatge cap a una vida més saludable. Amb [Nom del Teu Projecte], tens accés a
                experts en nutrició que t'ajudaran a dissenyar un pla de menús dietètics adaptat a les teves
                preferències, restriccions i objectius personals. La teva salut és la nostra prioritat, i treballarem
                junts perquè et sentis bé des de dins cap a fora.
                Receptes Saludables i Delicioses
                Perquè mantenir una dieta saludable no ha de ser avorrida ni complicada. A [Nom del Teu Projecte], posem
                a la teva disposició una àmplia col·lecció de receptes equilibrades, creatives i delicioses. </p>
        </div>
    </div>
</div>

<footer>
    <button><a asp-area="" asp-controller="Home" asp-action="Sign_In">Sign-In</a></button>
</footer>