<header>
  <h1>Projecte Vida</h1>
</header>
<nav>
  <button class="navegador">
    <h3><a asp-area="" asp-controller="Home" asp-action="Forum">Fòrum</a></h3>
  </button>
  <button class="navegador">
    <h3><a asp-area="" asp-controller="Home" asp-action="Perfil">Perfil</a></h3>
  </button>
  <button class="navegador">
    <h3><a asp-area="" asp-controller="Home" asp-action="Dietes">Dietes</a></h3>
  </button>
  <button class="navegador">
    <h3>
      <a asp-area="" asp-controller="Home" asp-action="Receptari">Receptari</a>
    </h3>
  </button>
  <button class="navegador">
    <h3>
      <a asp-area="" asp-controller="Home" asp-action="BodyLab">BodyLab</a>
    </h3>
  </button>
</nav>

<div class="cos3">
  <div>
    <img src="~/Imatges/pa.png" alt="Cistella de pa" class="imatgePortada">
  </div>
  <div class="infoRecepta">
    <div>
      <h1 class="titolRecepta">Recepta de pa</h1>
    </div>
    <div>
      <h2>Ingredients</h2>
      <ol>
        <li>325 ml d'aigua tèbia</li>
        <li>500 grams de farina de blat</li>
        <li>10 grams de sal</li>
        <li>7 grams de llevat sec</li>
      </ol>
    </div>
    <div class="descrpicioRecepta">
      <h2>Descripció de la recepta</h2>
      <p>Mescla la farina i la sal en un bol gran.

        En un recipient petit, barreja el llevat sec amb l'aigua tèbia i deixa reposar uns minuts fins que es comenci a
        formar escuma.

        Afegeix la mescla de llevat a la farina i barreja bé fins a obtenir una massa homogènia.

        Amassa la massa sobre una superfície enfarinada durant uns 10-15 minuts, fins que sigui suau i elàstica.

        Deixa reposar la massa en un bol cobert amb un drap humit durant aproximadament una hora, fins que la massa hagi
        duplicat el seu volum.

        Preescalfa el forn a 220 graus Celsius.

        Treu la massa del bol i col·loca-la sobre una superfície enfarinada. Forma una barra allargada amb les teves
        mans.

        Col·loca la barra de pa en una safata per al forn i fes uns talls superficials a la part superior amb un ganivet
        afilat.

        Enforna durant uns 25-30 minuts, fins que la crosta sigui daurada i el pa soni a buit quan es toqui la part
        inferior.

        Deixa refredar abans de tallar i gaudir del teu pa casolà!

        Espero que aquesta descripció sigui d'ajuda. Bon profit!</p>
    </div>
  </div>
</div>

<footer>
  <button>
    <a asp-area="" asp-controller="Home" asp-action="Sign_In">Sign-In</a>
  </button>
</footer>
