<header>
    <h1>Projecte Vida</h1>
</header>
<nav>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Forum">Fòrum</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Perfil">Perfil</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Dietes">Dietes</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Receptari">Receptari</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="BodyLab">BodyLab</a></h3>
    </button>
</nav>

<div class="cos">
    <div class="botoUsuaris">
        <div class="botoMenuUsuari">
            <div class="fotoPerfil"></div>
            <h1>Andreu Beltran</h1>
            <p>Informació breu de la persona a la qual pertany l'etiqueta.</p>
        </div>
        <div class="botoMenuUsuari">
            <div class="fotoPerfil"></div>
            <h1>Dani Lupion</h1>
            <p>Informació breu de la persona a la qual pertany l'etiqueta.</p>
        </div>
        <div class="botoMenuUsuari">
            <div class="fotoPerfil"></div>
            <h1>Olga Perez</h1>
            <p>Informació breu de la persona a la qual pertany l'etiqueta.</p>
        </div>
        <div class="botoMenuUsuari">
            <div class="fotoPerfil"></div>
            <h1>Cristina Claver</h1>
            <p>Informació breu de la persona a la qual pertany l'etiqueta.</p>
        </div>
        <div class="botoMenuUsuari">
            <div class="fotoPerfil"></div>
            <h1>Paula Blazquez</h1>
            <p>Informació breu de la persona a la qual pertany l'etiqueta.</p>
        </div>
        <div class="botoMenuUsuari">
            <div class="fotoPerfil"></div>
            <h1>Cristian Sivilla</h1>
            <p>Informació breu de la persona a la qual pertany l'etiqueta.</p>
        </div>
    </div>
</div>

<footer>
    <button><a asp-area="" asp-controller="Home" asp-action="Sign_In">Sign-In</a></button>
    <button><a asp-area="" asp-controller="Home" asp-action="MenusUsuari">Menus Usuaris</a></button>
</footer>