<header>
    <h1>Projecte Vida</h1>
</header>
<nav>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Forum">Fòrum</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Perfil">Perfil</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Dietes">Dietes</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="Receptari">Receptari</a></h3>
    </button>
    <button class="navegador">
        <h3><a asp-area="" asp-controller="Home" asp-action="BodyLab">BodyLab</a></h3>
    </button>
</nav>
<div class="llibreta">
    <div class="fulla1">
        <form action="/Home/Sign_In" method="POST">
            <label for="nom">Nom:</label>
            <input type="text" id="nom" name="nom" required>

            <label for="cognoms">Cognoms:</label>
            <input type="text" id="cognoms" name="cognoms" required>

            <label for="edat">Edat:</label>
            <input type="number" id="edat" name="edat" required>

            <label for="correu">Correu electrònic:</label>
            <input type="email" id="correu" name="correu" required>

            <label for="repetirCorreu">Repetir correu electrònic:</label>
            <input type="email" id="repetirCorreu" name="repetirCorreu" required>

            <label for="contrasenya">Contrasenya:</label>
            <input type="password" id="contrasenya" name="contrasenya" required>

            <label for="repetirContrasenya">Repetir contrasenya:</label>
            <input type="password" id="repetirContrasenya" name="repetirContrasenya" required>

            <label for="adressa">Adreça:</label>
            <input type="text" id="adressa" name="adressa">

            <label for="codiPostal">Codi postal:</label>
            <input type="text" id="codiPostal" name="codiPostal">

            <label for="poblacio">Població:</label>
            <input type="text" id="poblacio" name="poblacio">

            <label for="sexe">Sexe:</label>
            <select id="sexe" name="sexe">
                <option value="home">Home</option>
                <option value="dona">Dona</option>
                <option value="altre">Altres</option>
            </select>
            <label for="pes">Pes (kg):</label>
            <input type="number" id="pes" name="pes">

            <label for="alsada">Alçada (cm):</label>
            <input type="number" id="alsada" name="alsada">

            <label for="horesFeina">Hores feina al dia:</label>
            <input type="number" id="horesFeina" name="horesFeina">

            <label for="estilDeVida">Estil de vida:</label>
            <input type="text" id="estilDeVida" name="estilDeVida">

            <button type="submit">Enviar</button>
        </form>
    </div>
    <div class="separador"></div>
    <div class="fulla2">
        <div class="fulla3">
        </div>
    </div>
</div>

<footer>
    <button><a asp-area="" asp-controller="Home" asp-action="Forum">Seguir</a></button>
</footer>